.I-header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #d49526;
}
.I-header .open_nav{
    display: none;
}
.I-header .sub_nav{
    display: none;
}
.I-header .logo{
    width: 30%;
    height: 100%;
}
.I-header .logo .logo_image{
    width: 50px;
    margin: 0 20px 0 0;
}
.I-header .logo .logo_image img{
    width: 100%;
}
.I-header .logo .logo_text{
    height: 100%;
    font-size: 24px;
    color: #d49526;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Pacifico';
}
.I-header .search{
    width: 40%;
    height: 100%;
}
.I-header .search .search_wrapper{
    position: relative;
}
.I-header .search .search_wrapper input{
    float: left;
    width: 300px;
    height: 40px;
    border: 1px solid #d49526;
    padding: 10px;
    font-size: 16px;
}
.I-header .search .search_wrapper a{
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #d49526;
    border-left: none;
    color: #dab866;
}
.I-header .search .search_wrapper a:hover{
    color: #d49526;
}
.I-header .action{
    width: 30%;
    height: 100%;
}
.I-header .action .action_wrapper{
    margin-left: auto;
}
.I-header .action .action_wrapper .cart_wrapper{
    float: left;
    height: 100%;
    margin: 0 20px 0 0;
}
.I-header .action .action_wrapper .cart_wrapper .cart{
    overflow: hidden;
}
.I-header .action .action_wrapper .cart_wrapper .cart_icon{
    float: left;
    height: 24px;
    color: #af6523;
    font-size: 16px;
}
.I-header .action .action_wrapper .cart_wrapper .cart_value{
    float: left;
    height: 24px;
    margin: 0 0 0 10px;
}
.I-header .action .action_wrapper .cart_wrapper .cart_value .cart_value_wrapper{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #af6523;
    color: #fff;
    font-size: 12px;
}
.I-header .action .action_wrapper .login_wrapper{
    float: left;
    height: 100%;
}
.I-header .action .action_wrapper .login_wrapper .login{
    width: 100px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #d49526;
}
.I-header .action .action_wrapper .login_wrapper .login a{
    color: #d49526;
}
.I-header .action .action_wrapper .login_wrapper .login a:hover{
    color: #af6523;
}
.I-header .action .action_wrapper .login_wrapper .user{
    position: relative;
    padding: 0 10px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #d49526;
    cursor: pointer;
}
.I-header .action .action_wrapper .login_wrapper .user:hover .user_action{
    display: block;
}
.I-header .action .action_wrapper .login_wrapper .user .user_action{
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    padding: 10px 0;
    border: 1px solid #d49526;
    background-color: #fff;
    border-radius: 3px;
    display: none;
}
.I-header .action .action_wrapper .login_wrapper .user .user_action .username{
    border-bottom: 1px solid #d49526;
    padding: 5px 10px;
}
.I-header .action .action_wrapper .login_wrapper .user .user_action a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
}
.I-navigarion{
    width: 100%;
    height: 40px;
}
.I-navigarion ul{
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
    height: 100%;
}
.I-navigarion ul li{
    float: left;
    height: 100%;
}
.I-navigarion ul li.sub_menu_wrapper{
    position: relative;
}
.I-navigarion ul li.sub_menu_wrapper:hover .sub_menu{
    display: block;
}
.I-navigarion ul li.sub_menu_wrapper .sub_menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    padding: 10px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    display: none;
}
.I-navigarion ul li.sub_menu_wrapper .sub_menu a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    height: 100%;
}
.I-navigarion ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 100%;
}
.I-navigarion ul li a:hover{
    color: #af6523; 
}

.I-order{
    margin: 20px 0;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.I-order .order_wrapper{
    float: left;
    width: 100%;
    overflow: hidden;
}
.I-order .order_wrapper .calc_money{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.I-order .order_wrapper .calc_money span{
    margin: 0 10px;
    font-size: 32px;
    font-weight: bold;
    color: green;
}
.I-order .order_wrapper .send_order{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-order .order_wrapper .send_order button{
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-order a{
    cursor: pointer;
}

.I-order .calc_item{
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.I-order .calc_item .down_calc{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.I-order .calc_item .val_calc{
    width: 100px;
    margin: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
.I-order .calc_item .up_calc{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.I-order table{
    text-align: center !important;
}
.I-order table th{
    text-align: center !important;
}


.I-carousel{
    margin: 20px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}
.I-carousel .item img{
    width: 100%;
}

.I-listitem{
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}
.I-listitem .listitem_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #af6523;
    color: #fff;
    font-size: 24px;
}
.I-listitem .listitem_content{
    overflow: hidden;
    margin: 20px -10px;
}

.I-allitem{
    width: 100%;
    margin: 20px 0;
    height: 50px;
}
.I-allitem .allitem_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-allitem a{
    width: 200px;
    height: 35px;
    border: 1px solid #af6523;
    border-radius: 3px;
    color: #af6523;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 300ms ease;
}
.I-allitem a:hover{
    color: #fff;
    background-color: #af6523
}

.I-item{
    float: left;
    width: 25%;
    overflow: hidden;
    padding: 0 10px;
    margin: 10px 0;
}
.I-item .item_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
}
.I-item .item_wrapper .item_banner{
    position: absolute;
    top: 40px;
    left: 80px;
    width: 100%;
    height: 50px;
    background-color: #f00;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    display: none;
}
.I-item .item_wrapper .item_banner.is-sell{
    display: flex;
}

.I-item .item_wrapper .item_image{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    overflow: hidden;
}
.I-item .item_wrapper .item_image img{
    width: 100%;
}
.I-item .item_wrapper .item_title{
    width: 100%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-size: 24px;
    text-align: center;
    margin: 0 0 10px 0;
}
.I-item .item_wrapper .item_detail{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-item .item_wrapper .item_detail a{
    width: 200px;
    height: 35px;
    border: 1px solid #af6523;
    border-radius: 3px;
    color: #af6523;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 300ms ease;
}
.I-item .item_wrapper .item_detail a:hover{
    color: #fff;
    background-color: #af6523
}

.I-subitem{
    width: 100%;
    margin: 20px 0;
}
.I-subitem .subitem_content{
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 0 30px 0;
    overflow: hidden;
}
.I-subitem .subitem_content .subitem_image{
    float: left;
    width: 40%;
}
.I-subitem .subitem_content .subitem_image img{
    width: 100%;
}
.I-subitem .subitem_content .subitem_info{
    float: left;
    width: 60%;
    padding: 0 30px;
}
.I-subitem .subitem_content .subitem_info .info_wrapper{
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px 0;
    font-size: 16px;
}
.I-subitem .subitem_content .subitem_info .info_wrapper .info_title{
    float: left;
    width: 200px;
    font-weight: bold;
}
.I-subitem .subitem_content .subitem_info .info_wrapper .info_text{
    float: left;
}
.I-subitem .subitem_content .subitem_info .info_wrapper .info_text i{
    color: green;
}
.I-subitem .subitem_content .subitem_info .order_wrapper{
    float: left;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}
.I-subitem .subitem_content .subitem_info .order_wrapper .calc_item{
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.I-subitem .subitem_content .subitem_info .order_wrapper .calc_item .down_calc{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.I-subitem .subitem_content .subitem_info .order_wrapper .calc_item .val_calc{
    width: 100px;
    margin: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
.I-subitem .subitem_content .subitem_info .order_wrapper .calc_item .up_calc{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.I-subitem .subitem_content .subitem_info .order_wrapper a{
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease;
}
.I-subitem .subitem_content .subitem_info .order_wrapper a:hover{
    color: #fff;
    background-color: #d49526;
    border: 1px solid #d49526;
}
.I-subitem .subitem_content .subitem_info .order_wrapper a.is-close{
    background-color: #ccc;
    color: #000;
}
.I-subitem .subitem_content .subitem_info .order_wrapper a.is-close:hover{
    background-color: #ccc;
    color: #000;
    cursor: no-drop;
    border: 1px solid #ccc;
}
.I-subitem .subitem_content .subitem_info .order_wrapper .cart_item{
    float: left;
    width: 25%;
    height: 100%;
}
.I-subitem .subitem_content .subitem_info .order_wrapper .order_item{
    float: left;
    width: 25%;
    height: 100%;
}
.I-subitem .subitem_detail{
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.I-form{
    margin: 0 auto;
    width: 50%;
    overflow: hidden;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
}
.I-form .title{
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 32px;
    text-align: center;
}



.I-footer{
    width: 100%;
    height: 300px;
    background-color: #af6523;
}
.I-footer .footer_item{
    width: 100%;
    padding: 20px;
}
.I-footer .footer_item .footer_title{
    width: 100%;
    font-size: 24px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 0 20px 0;
}
.I-footer .footer_item .footer_text{
    float: left;
    width: 100%;
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #fff;
}
.I-footer .footer_item iframe{
    width: 100%;
    height: 200px;
}



